.wzdDetail{
    width: 26px;
    height: 18px;
    display: block;
    background: url(../img/20180123162043.png) no-repeat center center;
    margin: auto;
    text-decoration: none;
    cursor: pointer;
}
html, body, div, h1, h2, h3, h4, h5, h6, p, input {
    margin: 0px;
    padding: 0px;
}

a {
    color: inherit;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

ul, li {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

input {
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
}

html {
    width: 100%;
    font-family: 'SourceHanSansCN-Normal';
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'SourceHanSansCN-Normal';
}

canvas {
    display: block;
    position: relative;
}

img {
    border: 0 none;
    outline: 0 none
}

em {
    font-style: normal;
}

i {
    font-style: normal;
}

button {
    outline: none;
    border: none;
    font-size: inherit;
    font-family: inherit;
}

* {
    padding: 0rem;
    margin: 0rem;
}

/*账户管理*/
.userM_all {
    padding-top:30px;
    padding-bottom:30px;
    box-sizing: border-box;
}

.userM_divheader {
    font-size: 0px;
    height: 40px;
    width: 487px;
    border: 1px solid #2abbb4;
    margin-bottom: 30px;
    float: right;
    border-bottom: 0;
    margin-right: 30px;
    box-sizing: border-box;

}
.userM_divheaderw{
    border-bottom: 1px solid #2abbb4;
    width: 100%;
    height: 40px;
}

.userM_divheader input {
    outline: none;
}

.userM_divheader input:first-child {
    width: 57px;
    height: 40px;
    background-color: #2abbb4;
    color: #fff;
    font-size: 16px;
    border: 0;
    cursor: pointer;
}

.userM_divheader input:last-child {
    width: 400px;
    height: 38px;
    color: #727272;
    font-size: 14px;
    outline: none;
    border: none;
    text-indent: 10px;
}

.userM_divcontent th {
    background: #5eb08c;
    color: #fff;
}

.userM_divcontent {
    width: 100%;
    margin: auto;

    clear: both;
    padding:0px 30px;
    box-sizing: border-box;
}

.userM_divcontent table {
    width: 100%;
    border-collapse: collapse;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}


.userM_divcontent tr:nth-child(2n+1) {
    background: #ededed;
}

.userM_divcontent tr {
    height: 40px;
    line-height: 40px;
}

.userM_divcontent th {
    background: #2f323b;
    color: #fff;
}

.userM_divcontent td {
    text-align: center;
}

.userM_divcontent tr td:nth-child(5) {
    color: red;
}

.userM_divcontent td img {
    height: 24px;
    width: 24px;
    margin-right: 10px;
    box-sizing: border-box;
    vertical-align: middle;
    border-radius: 50%;
}

.userM_divcontent td a {
    height: 18px;
    text-align: center;
    text-decoration: underline;
    cursor: pointer;
    color: #2abbb4;
}

.userM_page {
    font-size: 0;
    float: right;
    overflow: hidden;
    margin-right: 30px;
    box-sizing:border-box ;
}

.userM_page > :first-child {
    float: left;
    height: 28px;
    font-size: 13px;
    width: 50px;
    text-align: center;
    color: #fff;
    background-color: #2abbb4;
    outline: none;
    border: none;
    cursor: pointer;
    text-align: center;
}

.userM_page > :nth-child(2) {
    float: left;
    height: 26px;
    line-height: 26px;
    font-size: 13px;
    text-align: center;
    padding: 0 10px;
    border: 1px solid #cecece;
}

.userM_page > :last-child {
    float: left;
    height: 28px;
    font-size: 13px;
    width: 50px;
    color: #fff;
    text-align: center;
    background-color: #2abbb4;
    outline: none;
    border: none;
    cursor: pointer;
    text-align: center;
}

.userM_divfooter {
    margin-top: 30px;
    padding-bottom: 30px;
    box-sizing: border-box;
}


.userMD_divheader1, .userMD_divheader2 {
    float: left;
    font-size: 0px;
}

.userMD_divheader3 {
    float: left;
    margin-left: 30px;
    box-sizing: border-box;
}

.userMD_divheader1 {
    margin-left: 31px;
    margin-right: 50px;
    box-sizing: border-box;
}

.userMD_divheader2 {
   float: right;
    margin-right: 30px;
}
.userMD_divheader3 h3 {
    float: left;
    width: 130px;
    height: 39px;
    line-height: 39px;
    text-align: center;
    border: 1px solid #2abbb4;
    border-bottom: 0px;
    font-size: 14px;
    line-height: 38px;
    color: #2c2f3e;
    background: #fff;
    margin-right: 20px;
    cursor: pointer;
  /*  margin-left: 15px;*/
}

.userMD_divheader3 span {
    display: block;
    float: left;
    height: 40px;
    line-height: 40px;
    background-color: #2abbb4;
    width: 100px;
    color: #fff;
    text-align: center;
}





/*账户管理详情页*/
.userMD_activespan1{display:inline-block;height:25px;width: 50px;border-radius: 5px;background-color: #f19149;line-height:25px;text-align: center;font-size: 16px;color:#fff;}
.userMD_activespan2{background-color:#7ecef4;display:inline-block;height:25px;width: 50px;border-radius: 5px;line-height:25px;text-align: center;font-size: 16px;color:#fff;}
.userMD_all {
    padding: 30px 0px;
    box-sizing: border-box;
}

.userMD_divheader {
    height: 40px;
    border-bottom: 1px solid #2abbb4;
    margin-bottom: 30px;
    overflow: hidden;
}

.userMD_divcontent {
    width: 100%;
    margin: auto;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
}

.userMD_page {
    font-size: 0;
    float: right;
    overflow: hidden;
    margin-right: 30px;
}

.userMD_page > :first-child {
    float: left;
    height: 28px;
    font-size: 13px;
    width: 50px;
    text-align: center;
    color: #fff;
    background-color: #2abbb4;
    outline: none;
    border: none;
    cursor: pointer;
    text-align: center;
}

.userMD_page > :nth-child(2) {
    float: left;
    height: 26px;
    line-height: 26px;
    font-size: 13px;
    text-align: center;
    padding: 0 10px;
    border: 1px solid #cecece;
}

.userMD_page > :last-child {
    float: left;
    height: 28px;
    font-size: 13px;
    width: 50px;
    color: #fff;
    text-align: center;
    background-color: #2abbb4;
    outline: none;
    border: none;
    cursor: pointer;
    text-align: center;
}

.userMD_divfooter {
    margin-top: 30px;
    padding-bottom: 30px;
    box-sizing: border-box;
}

.userMD_Table {
    width: 100%;
    border-collapse: collapse;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
}

.userMD_TableTrTop {
    width: 100%;
    height: 40px;
    background-color: #2f323b;
    color: #fff;
    text-align: center;
    line-height: 40px;
}

.userMD_TableTrText {
    width: 100%;
    height: 142px;
    background-color: #fff;
    border-bottom: 1px solid #d6d6d6;
    text-align: center;
}

.userMD_TableTrTextBack {
    width: 150px;
    height: 100px;
    display: block;
    margin: 0 auto;
}

.userMD_TableTrTextUser {
    text-align: center;
}

.userMD_TableTrTextTou {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    display: inline-block;
    margin-left: 10%;
    vertical-align: middle;
}

.userMD_TableTrTextName {
    display: inline-block;
    margin-left: 10px;
    height: 25px;
    line-height: 25px;
}

.userMD_TableTrTextSun {
    color: #fe6062;
}

.userMD_TableTrTextSure, .userMD_TableTrTextNo {
    cursor: pointer;
    width: 60px;
    height: 30px;
    background-color: #2abbb4;
    color: #fff;
    outline: none;
    border: 0px;
}

.userMD_TableTrTextSure {
    margin-right: 20px;
}

.userMD_divheader_div1 span:first-child {
    display: inline-block;
    height: 22px;
    width: 14px;
    background: url("../img/back.png") center center no-repeat;
    background-size: 100% 100%;
    vertical-align: middle;
}

.userMD_divheader_div1{
    float: left;
}
.userMD_divheader_div1 {
    margin-left: 30px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
}

.userMD_divheader_div1 span:last-child {
    height: 40px;
    line-height: 40px;
    display: inline-block;
}

.userMD_active {
    background-color: #2abbb4;
    color: #fff !important;
}
.userMD_divheader2 {
    font-size: 0px;
    height: 40px;
    width: 257px;
    border-left: 1px solid #2abbb4;
    border-right: 1px solid #2abbb4;
    border-top: 1px solid #2abbb4;
}

.userMD_divheader2 input {
    outline: none;
}

.userMD_divheader2 input:first-child {
    width: 57px;
    height: 40px;
    background-color: #2abbb4;
    color: #fff;
    font-size: 16px;
    border: 0;
    cursor: pointer;
}

.userMD_divheader2 input:last-child {
    width: 200px;
    height: 38px;
    color: #727272;
    font-size: 14px;
    outline: none;
    border: none;
    text-indent: 10px;
}

/*财务管理*/
.financiaM_all {
    padding: 30px 0px;
    box-sizing: border-box;
}

.financiaM_divheader {
    height: 40px;
    width: 100%;
    border-bottom: 1px solid #2abbb4;
    margin-bottom: 30px;
}

.financiaM_divheader2 {
    font-size: 0px;
    height: 40px;
    width: 257px;
    border-left: 1px solid #2abbb4;
    border-right: 1px solid #2abbb4;
    border-top: 1px solid #2abbb4;
}

.financiaM_divheader2 input {
    outline: none;
}

.financiaM_divheader2 input:first-child {
    width: 57px;
    height: 40px;
    background-color: #2abbb4;
    color: #fff;
    font-size: 16px;
    border: 0;
    cursor: pointer;
}

.financiaM_divheader2 input:last-child {
    width: 200px;
    height: 38px;
    color: #727272;
    font-size: 14px;
    outline: none;
    border: none;
    text-indent: 10px;
}

.financiaM_divcontent th {
    background: #5eb08c;
    color: #fff;
}

.financiaM_divcontent {
    width: 100%;
    margin: auto;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
}

.financiaM_divcontent table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #dcdcdc;
}

.financiaM_divcontent tr:nth-child(2n+1) {
    background: #ededed;
}

.financiaM_divcontent tr {
    height: 40px;
    line-height: 40px;
}

.financiaM_divcontent th {
    background: #2f323b;
    color: #fff;
}

.financiaM_divcontent td {
    text-align: center;
}

.financiaM_divcontent td img {
    height: 24px;
    width: 24px;
    margin-right: 10px;
    box-sizing: border-box;
    vertical-align: middle;
    border-radius: 50%;
}

.financiaM_divcontent td a {
    width: 26px;
    height: 18px;
    display: block;
    background: url(../img/20180123162043.png) no-repeat center center;
    margin: auto;
    text-decoration: none;
    cursor: pointer;
}

.financiaM_page {
    font-size: 0;
    float: right;
    overflow: hidden;
    margin-right: 30px;
    box-sizing: border-box;
}

.financiaM_page > :first-child {
    float: left;
    height: 28px;
    font-size: 13px;
    width: 50px;
    text-align: center;
    color: #fff;
    background-color: #2abbb4;
    outline: none;
    border: none;
    cursor: pointer;
    text-align: center;
}

.financiaM_page > :nth-child(2) {
    float: left;
    height: 26px;
    line-height: 26px;
    font-size: 13px;
    text-align: center;
    padding: 0 10px;
    border: 1px solid #cecece;
}

.financiaM_page > :last-child {
    float: left;
    height: 28px;
    font-size: 13px;
    width: 50px;
    color: #fff;
    text-align: center;
    background-color: #2abbb4;
    outline: none;
    border: none;
    cursor: pointer;
    text-align: center;
}

.financiaM_divfooter {
    margin-top: 30px;
    padding-bottom: 30px;
    box-sizing: border-box;
    overflow: hidden;
}

.financiaM_TableTrTextSure {
    margin-right: 20px;
}

.financiaM_TableTrTextSure, .financiaM_TableTrTextNo {
    cursor: pointer;
    width: 60px;
    height: 30px;
    background-color: #2abbb4;
    color: #fff;
    outline: none;
    border: 0px;
}

.financiaM_divcontent table tr input {
    margin-right: 10px;
    cursor: pointer;
}

.financiaM_divheader1 input {
    height: 40px;
    width: 120px;
    line-height: 40px;
    color: #2c2f3e;
    text-align: center;
    outline: none;
    border: 1px solid #2abbb4;
    border-bottom: 0px;
    font-size: 17px;
}

.financiaM_active {
    background-color: #2abbb4;
    color: #fff !important;
}

.financiaM_divheader1, .financiaM_divheader2 {
    float: left;
    font-size: 0px;
}

.financiaM_divheader3 {
    float: left;
}

.financiaM_divheader1 {
    margin-left: 31px;
    margin-right: 50px;
    box-sizing: border-box;
}

.financiaM_divheader2 {
    margin-right: 50px;
}

.financiaM_color {
    color: #2abbb4;
}

.financiaM_divheader3 h3 {
    float: left;
    width: 130px;
    height: 39px;
    line-height: 39px;
    text-align: center;
    border: 1px solid #535353;
    border-bottom: 0px;
    font-size: 14px;
    line-height: 38px;
    color: #2c2f3e;
    background: #fff;
    margin-right: 20px;
    cursor: pointer;
    margin-left: 15px;
}

.financiaM_divheader3 span {
    display: block;
    float: left;
    height: 40px;
    line-height: 40px;
}

.financiaM_detele input {
    height: 30px;
    width: 60px;
    outline: none;
    text-align: center;
    color: #fff;
    border: 0px;
    border-radius: 5px;
    line-height: 30px;
    background-color: #2abbb4;
}

.financiaM_detele {
    float: left;
    overflow: hidden;
    margin-left: 30px;
    box-sizing: border-box;
}

/*信息管理*/
.informationM_all {
    padding: 30px 0px;
    box-sizing: border-box;
}

.informationM_divheader {
    height: 40px;
    width: 100%;
    border-bottom: 1px solid #2abbb4;
    margin-bottom: 30px;
}

.informationM_divcontent {
    width: 100%;
    margin: auto;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
}

.informationM_active {
    background-color: #2abbb4;
    color: #fff !important;
}

.informationM_divheader1 {
    float: left;
    font-size: 0px;
}

.informationM_divheader1 {
    margin-left: 31px;
    margin-right: 50px;
    box-sizing: border-box;
}

.informationM_color {
    color: #2abbb4;
}

.informationM_divheader1 input {
    height: 40px;
    width: 120px;
    line-height: 40px;
    color: #2c2f3e;
    text-align: center;
    outline: none;
    border: 1px solid #2abbb4;
    border-bottom: 0px;
    font-size: 17px;
}

.informationM_divcontentdiv1 header {
    background: #2f323b;
    color: #fff;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
    padding: 0 14px;
    box-sizing: border-box;
}

.informationM_divcontentdiv1 header span {
    display: block;
    float: left;
    font-size: 19px;
    height: 40px;
    line-height: 40px;
}

/*.informationM_divcontentdiv1 header input {
    display: block;
    float: right;
    border: 0;
    color: #fff;
    font-size: 19px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    outline: none;
}*/

.informationM_divcontentdiv1 textarea {
    text-indent: 19px;
    font-size: 19px;
    outline: none;
    resize: none;
    width: 100%;
    border: 0;
    height: 260px;
    border: 1px solid #b5b5b5;
    background-color: #fff;
    padding-top: 19px;
    box-sizing: border-box;
}

.informationM_divcontentdiv2 {
    display: none;
}

.informationM_divcontentdiv2 header {
    background: #2f323b;
    color: #fff;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
    padding: 0 14px;
    box-sizing: border-box;
}

.informationM_divcontentdiv2 header span {
    display: block;
    float: left;
    font-size: 19px;
    height: 40px;
    line-height: 40px;
}

.informationM_divcontentdiv2 article {
    width: 100%;
    overflow: hidden;
}

.informationM_divcontentdiv2 article section {
    width: 33.33%;
    float: left;
}

/*推荐用户*/
.informationM_ContentMid1 {
    width: 90%;
    margin: auto;
}

.informationM_ContentMid1-imgk {

    width: 100%;
    float: left;
    margin: 0 0 0 0;
    box-sizing: border-box;
    position: relative;

    margin-bottom: 50px;
    margin-top: 20px;
    box-sizing: border-box;
}

#redface1 {

    width: 100%;
}

#redface1 img {
    height: 240px;
    width: 100%;
}

.informationM_ContentMid1-imgk input {
    width:50px;
}

.upimg {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
    opacity: 0;
    top: 250px;
    cursor: pointer !important;
}

.upimgSpan {
    position: absolute;
    left: 0;
    right: 0;
    display: block;
    color: #666;
    border-bottom: 1px #666 solid;
    cursor: pointer;
    top: 300px;
}
.informationM_uploadspan{font-size: 20px;color: #2abbb4;position: absolute;top:250px;cursor: pointer;}
.informationM_surebtn{background-color: #2abbb4;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    width: 80px;
    height: 36px;
    margin: 10px 5px;float: right;outline: none;border: 0px;}

.informationM_bianjidiv span,button{float: right;}
.informationM_bianjidiv span,button{background-color: transparent;color: #2abbb4;border: none;outline: none;cursor: pointer;margin-left: 30px;box-sizing: border-box;}



/*订单管理*/
.orderM_all {
    padding: 30px 0px;
    box-sizing: border-box;
}

.orderM_divheader {
    height: 40px;
    border-bottom: 1px solid #2abbb4;
    margin-bottom: 30px;
    overflow: hidden;
}

.orderM_divcontent {
    width: 100%;
    margin: auto;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
}

.orderM_page {
    font-size: 0;
    float: right;
    overflow: hidden;
    margin-right: 30px;
}

.orderM_page > :first-child {
    float: left;
    height: 28px;
    font-size: 13px;
    width: 50px;
    text-align: center;
    color: #fff;
    background-color: #2abbb4;
    outline: none;
    border: none;
    cursor: pointer;
    text-align: center;
}

.orderM_page > :nth-child(2) {
    float: left;
    height: 26px;
    line-height: 26px;
    font-size: 13px;
    text-align: center;
    padding: 0 10px;
    border: 1px solid #cecece;
}

.orderM_page > :last-child {
    float: left;
    height: 28px;
    font-size: 13px;
    width: 50px;
    color: #fff;
    text-align: center;
    background-color: #2abbb4;
    outline: none;
    border: none;
    cursor: pointer;
    text-align: center;
}

.orderM_divfooter {
    margin-top: 30px;
    padding-bottom: 30px;
    box-sizing: border-box;
}

.orderM_Table {
    width: 100%;
    border-collapse: collapse;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
}

.orderM_TableTrTop {
    width: 100%;
    height: 40px;
    background-color: #2f323b;
    color: #fff;
    text-align: center;
    line-height: 40px;
}

.orderM_TableTrText {
    width: 100%;
    height: 142px;
    background-color: #fff;
    border-bottom: 1px solid #d6d6d6;
    text-align: center;
}



.orderM_TableTrTextUser {
    text-align: center;
}
.orderM_TableTrTextSun {
    color: #fe6062;
}

.orderM_TableTrTextSure, .orderM_TableTrTextNo {
    cursor: pointer;
    width: 60px;
    height: 30px;
    background-color: #2abbb4;
    color: #fff;
    outline: none;
    border: 0px;
}

.orderM_TableTrTextSure {
    margin-right: 20px;
}



.orderM_divheader_div1{
    float: left;
}
.orderM_divheader_div1 {
    margin-left: 30px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    overflow: hidden;
}



.orderM_active {
    background-color: #2abbb4;
    color: #fff !important;
}
.orderM_divheader2 {
    font-size: 0px;
    height: 40px;
    width: 257px;
    border-left: 1px solid #2abbb4;
    border-right: 1px solid #2abbb4;
    border-top: 1px solid #2abbb4;
}

.orderM_divheader2 input {
    outline: none;
}

.orderM_divheader2 input:first-child {
    width: 57px;
    height: 40px;
    background-color: #2abbb4;
    color: #fff;
    font-size: 16px;
    border: 0;
    cursor: pointer;
}

.orderM_divheader2 input:last-child {
    width: 200px;
    height: 38px;
    color: #727272;
    font-size: 14px;
    outline: none;
    border: none;
    text-indent: 10px;
}
.orderM_divheader1, .orderM_divheader2 {
    float: left;
    font-size: 0px;
}

.orderM_divheader3 {
    float: left;
    margin-left: 30px;
    box-sizing: border-box;
}

.orderM_divheader1 {
    margin-left: 31px;
    margin-right: 50px;
    box-sizing: border-box;
}

.orderM_divheader2 {
    float: right;
    margin-right: 30px;
    background-color: #fff;
}
.orderM_divheader3 h3 {
    float: left;
    width: 130px;
    height: 39px;
    line-height: 39px;
    text-align: center;
    border: 1px solid #2abbb4;
    border-bottom: 0px;
    font-size: 14px;
    line-height: 38px;
    color: #2c2f3e;
    background: #fff;
    margin-right: 20px;
    cursor: pointer;
    /*  margin-left: 15px;*/
}

.orderM_divheader3 span {
    display: block;
    float: left;
    height: 40px;
    line-height: 40px;
    background-color: #2abbb4;
    width: 100px;
    color: #fff;
    text-align: center;
}
.orderM_divheader_div1 input{
    width: 120px;
    height: 40px;
    display: block;
    float: left;
    border: 1px solid #2abbb4;
    outline: none;
    font-size: 18px;
    color: #2abbb4;
}
.orderM_Table tr td:nth-child(8) img{
    height:100px;width: 145px;}
.orderM_Table tr td:nth-child(9) img{
    height:100px;width: 145px;}
.orderM_Table tr td:last-child input:first-child{cursor: pointer;
    width: 50px;
    height: 30px;
    background-color: #a0a0a0;
    color: #fff;
    outline: none;
    border: 0px;border-radius: 4px;}
.orderM_Table tr td:last-child input:last-child{cursor: pointer;
    width: 50px;
    height: 30px;
    background-color: #a0a0a0;
    color: #fff;
    outline: none;
    border: 0px;margin-left: 10px;border-radius: 4px;}
.orderM_Table_btnactive{background-color: #2abbb4 !important;}
.orderM_newbtn{height: 30px;width: 60px;background-color: #2abbb4;color: #fff;font-size: 17px;line-height: 30px;text-align: center;float: left;margin-left: 30px;border: 0px;outline: none;border-radius: 5px;cursor: pointer;}
/*公司订单录单*/
.oCatalogue_all {
    padding: 30px 0px;
    box-sizing: border-box;
}
.oCatalogue_divheader {
    height: 40px;
    border-bottom: 1px solid #2abbb4;
    margin-bottom: 30px;
    overflow: hidden;
}
.oCatalogue_divheader_div1 span:first-child {
    display: inline-block;
    height: 22px;
    width: 14px;
    background: url("../img/back.png") center center no-repeat;
    background-size: 100% 100%;
    vertical-align: middle;
}

.oCatalogue_divheader_div1{
    float: left;
}
.oCatalogue_divheader_div1 {
    margin-left: 30px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
}

.oCatalogue_divheader_div1 span:last-child {
    height: 40px;
    line-height: 40px;
    display: inline-block;
}
.oCatalogue_divfooter {
    margin-top: 30px;
    padding-bottom: 30px;
    box-sizing: border-box;
}
.oCatalogue_page {
    font-size: 0;
    float: right;
    overflow: hidden;
    margin-right: 30px;
}

.oCatalogue_page > :first-child {
    float: left;
    height: 28px;
    font-size: 13px;
    width: 50px;
    text-align: center;
    color: #fff;
    background-color: #2abbb4;
    outline: none;
    border: none;
    cursor: pointer;
    text-align: center;
}

.oCatalogue_page > :nth-child(2) {
    float: left;
    height: 26px;
    line-height: 26px;
    font-size: 13px;
    text-align: center;
    padding: 0 10px;
    border: 1px solid #cecece;
}

.oCatalogue_page > :last-child {
    float: left;
    height: 28px;
    font-size: 13px;
    width: 50px;
    color: #fff;
    text-align: center;
    background-color: #2abbb4;
    outline: none;
    border: none;
    cursor: pointer;
    text-align: center;
}
.oCatalogue_divfooter1 input{
    height: 30px;
    width: 60px;
    font-size: 17px;
    color: #fff;
    background-color: #2abbb4;
    line-height: 30px;
    text-align: center;
    outline: none;
    border: 0;
    cursor: pointer;
    border-radius: 5px;
}
.oCatalogue_divfooter1{float: left;margin-left: 30px;box-sizing: border-box;}
.oCatalogue_divfooter1 input:nth-child(2){
    margin: 0 10px;
    box-sizing: border-box;
}
.oCatalogue_divcontent ul li input[type='text']{
    width: 398px;
    height: 38px;
    border: 1px solid #505050;
    outline: none;
    margin-left: 50px;
    box-sizing: border-box;
}
.oCatalogue_divcontent ul li span{width: 100px;display: inline-block;height: 40px;line-height: 40px;}
.oCatalogue_divcontent ul li{overflow: hidden;margin-bottom: 20px;box-sizing: border-box;}
.oCatalogue_divcontent{padding: 30px;box-sizing: border-box;}
.oCatalogue_imgk1,.oCatalogue_imgk2{height: 84px;
    width: 84px;
    margin-left: 50px!important;
    box-sizing: border-box;
    box-sizing: border-box;
    position: relative;float: left;}
#redface {
    height: 84px;
    width: 84px;
}
#doc1,#doc2 {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
    opacity: 0;
    top: 248px;
}
.oCatalogue_imgk1 input {
    height: 100%;
    width: 100%;
}
.upimg,.upimg1 {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
    opacity: 0;
    top: 248px;
}
#redface img {
    height: 100%;
    width: 100%;
}
.oCatalogue_imgk1 input,.oCatalogue_imgk2 input {
    height: 100%;
    width: 100%;
}
.oCatalogue_divcontentspan{height: 84px!important;line-height: 84px!important;display: block;float: left;}
.new_tab {float: left;height: 40px;margin-left: 15px;}
.new_tab a {    width: 120px;
    height: 38px;
    float: left;
    line-height: 38px;
    text-align: center;
    border: 1px solid #2abbb4;
    font-size: 18px;}
.new_tab a.on {background-color: #2abbb4;color: #fff;border-color: #2abbb4;}
.time_js {
	border: 1px solid #2abbb4;
    float: left;
    width: 180px;
    height: 20px;
    text-align: center;
    font-size: 14px;
    padding-bottom: 9px;
    padding-top: 9px;
    line-height: 20px;
}
